name: website-examiner

services:
  postgres:
    image: postgres:18
    container_name: webex_postgres
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:8.4
    container_name: webex_redis
    ports:
      - "6379:6379"

  api:
    build:
      context: ./backend
    container_name: webex_api
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    command: npm run start

  worker:
    build:
      context: ./backend
    container_name: webex_worker
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    command: npm run worker

volumes:
  postgres_data:
